
SMILES_preprocess/molecule_structure_generation-master/data/test_dataset/proteins_test1.space_sep_seq_unique
SMILES_preprocess/molecule_structure_generation-master/data/test_dataset/proteins_test2.space_sep_seq_unique
SMILES_preprocess/molecule_structure_generation-master/data/test_dataset/proteins_test3.space_sep_seq_unique
SMILES_preprocess/molecule_structure_generation-master/data/test_dataset/proteins_test4.space_sep_seq_unique
SMILES_preprocess/molecule_structure_generation-master/data/test_dataset/proteins_test5.space_sep_seq_unique
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/ligands_train.space_sep_seq
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/prot_lig_binding_human_ds1.zip
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/prot_lig_binding_human_ds2.zip
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/prot_lig_binding_human_ds3.zip
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/prot_lig_binding_human_ds4.zip
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/prot_lig_binding_human_ds5.zip
SMILES_preprocess/molecule_structure_generation-master/data/train_dataset/proteins_train.space_sep_seq
SMILES_preprocess/molecule_structure_generation-master/data/vocab.protein_specific_ligand_generation.tokens
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/test_dataset/test_4_org_1000_112.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/test_dataset/test_4_org_1002_103.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/test_dataset/test_4_org_1004_122.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/test_dataset/test_4_org_1036_124.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/test_dataset/test_4_org_1042_104.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1000_112.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1000_112/ligands_train_4_org_corrected
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1000_112/proteins_train_4_org_corrected
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1002_103.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1004_122.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1036_124.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/train_dataset/train_4_org_1042_104.zip
SMILES_preprocess/molecule_structure_generation-master/data_4_organisms/vocab.protein_specific_ligand_generation.tokens
SMILES_preprocess/molecule_structure_generation-master/README.md
SMILES_preprocess/molecule_structure_generation-master/scripts/BindingDB_dataset_preparation.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/model_training_and_decoding.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/requirements_model_training_and_decoding.txt
SMILES_preprocess/molecule_structure_generation-master/scripts/validation/phys_chem_properties_and_metrics.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/validation/plots_creation.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/validation/proteins_for_smina.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/validation/validation.ipynb
SMILES_preprocess/molecule_structure_generation-master/scripts/validation/zinc_db_analyze.ipynb
